<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>UFO Sightings Visualization</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/web.css">

  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../static/css/web.css"> 
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="../templates/index2.html"></a>
	<img src="../static/images/saucer2.png" height="30" alt="mdb logo">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

	  <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../templates/index2.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../templates/about.html">About this Project</a>
        </li>
		
<!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Learn More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="../templates/meetTeam.html">Meet the Team</a>
            <a class="dropdown-item" href="../templates/data.html">Data</a>
            <a class="dropdown-item" href="../templates/index.html">GeoMapping</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="../templates/troubleshooting.html">Troubleshooting</a>
          </div>
        </li>
		<!--
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
		-->
      </ul>
	  <!--
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
	  -->
    </div>
  </nav>

<!-- Jumbotron -->

<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-13">
              <h2>About this project</h2>
               <!-- <p>
                    In this project, we explore reports of UFO findings in the United States dating back to 1969. Feel free to tour the site to learn
					more about this project!
                </p> -->
                <!-- <a href="#" class="btn btn-success btn-lg">Sign Up</a> -->
            </div>
        </div>
    </div>
</div>
 
 
<!-- Timeline for Project -->

<div class="card-deck">
  <div class="card">
    <img src="../static/images/data2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Data Information</h5>
      <p class="card-text">The UFO dataset was found on Kaggle.com and had a lot of information that needed to be dropped. The dataset has information on most
	  UFO sightings reported in the United States dating back to 1969.</p>
      <p class="card-text"><small class="text-muted">Last updated 1 day ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../static/images/data-clean.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cleaning the data</h5>
      <p class="card-text">The data was cleaned using Python in Jupyter Notebook. Because the dataset was so large, we had to use the provided API rather
	  than using a CSV or JSON file.</p>
      <p class="card-text"><small class="text-muted">Last updated 1 day ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../static/images/database.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Linking the Database</h5>
      <p class="card-text">We used MongoDB to import the clean data and proceeded to link the database to the Jupyter Notebook.</p>
      <p class="card-text"><small class="text-muted">Last updated 1 day ago</small></p>
    </div>
  </div>
</div>



<div class="card-deck">
  <div class="card">
    <img src="../static/images/web-design.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Creating the Website</h5>
      <p class="card-text">This website was created by using Bootstrap Components to help create a series of HTML and CSS files. We are using our Python 
	  Server to host this site.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="../static/images/map-data.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mapping the Data</h5>
      <p class="card-text">The map visualization was created using Leaflet and a series of JavaScript files.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  
   <!-- Adding form --> 
</div>


<p>                                              
                                                           
														    
															 
															 
															 
															 
															 
															 
															 </p>

<form>
<h3>Do you have a question? Ask us here!</h3>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Question:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    
</html>


</body>
