<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

  <meta charset="UTF-8">
  <title>UFO Sightings Visualization</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/web.css">
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<style>

</style>
</head>
<body>


<!-- Navbar -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="../templates/index2.html"></a>
	<img src="../static/images/saucer2.png" height="30" alt="mdb logo">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

	  <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../templates/index2.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../templates/about.html">About this Project</a>
        </li>
		
<!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Learn More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="../templates/meetTeam.html">Meet the Team</a>
            <a class="dropdown-item" href="../templates/data.html">Data</a>
            <a class="dropdown-item" href="../templates/index.html">GeoMapping</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="../templates/troubleshooting.html">Troubleshooting</a>
          </div>
        </li>
		<!--
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
		-->
      </ul>
	  <!--
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
	  -->
    </div>
  </nav>




<h1 class="text-center">Meet the Team!</h1>

<div class="card" style="width: 18rem;" text="Alexis Summey">
  <img src="../static/images/alexislinkedin.png" class="card-img-top" alt="Alexis">
  <div class="card-body">
    <h1 class="text-center">Alexis Summey</h1>
	<p class="text-center">Web Developer</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../static/images/Andrew2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="text-center">Andrew Davis</h1>
	<p class="text-center">Data Analyst</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../static/images/Ellen2.png" class="card-img-top" alt="Ellen">
  <div class="card-body">
    <h1 class="text-center">Ellen Colborn</h1>
	<p class="text-center">ETL SME</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../static/images/Timisha2.png" class="card-img-top" alt="Ellen">
  <div class="card-body">
    <h1 class="text-center">Timisha Martin</h1>
	<p class="text-center">Web Developer</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../static/images/Scott2.png" class="card-img-top" alt="Ellen">
  <div class="card-body">
    <h1 class="text-center">Scott Caldwell</h1>
	<p class="text-center">Data Analyst</p>
  </div>
</div>

<!--
<div class="column">
  <div class="column">
    <div class="card">
      <img src= "../static/images/Alexis.jpg"alt="Alexis" style="width:39%">
      <div class="container">
        <h2>Alexis Summey</h2>
        <p class="title">Web Developer</p>
		
      </div>
    </div>
  </div>

 <div class="column">
	<div class="card">
		<img src= "../static/images/Andrew.jpg" style="width:50%">
		<div class="container">
        <h2>Andrew Davis</h2>
        <p class="title">Data Analyst</p>
      
	  </div>
    </div>
  </div>
 
   <div class="column">
	<div class="card">
		<img src= "../static/images/Ellen.jpg" style="width:50%">
		<div class="container">
        <h2>Ellen Colborn </h2>
        <p class="title">ETL SME</p>
      
	  </div>
    </div>
  </div>
  
<div class="column">
	<div class="card">
		<img src= "../static/images/Timisha.png" style="width:50%">
		<div class="container">
        <h2>Timisha Martin </h2>
        <p class="title">Web Developer</p>
      
	  </div>
    </div>
  </div>
  
  <div class="column">
	<div class="card">
		<img src= "../static/images/scott.png" style="width:65%">
		<div class="container">
        <h2>Scott Caldwell </h2>
        <p class="title">Data Analyst</p>
      
	  </div>
    </div>
  </div>

</body>
</html>
-->