<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>UFO Sightings Troubleshooting</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/web.css">
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index2.html">UFO Sightings</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- nav item 1 -->
        <li class="nav-item active">
          <a class="nav-link" href="index2.html">Home<span class="sr-only">(current)</span></a>
        </li>
        <!-- nav item 2 -->
        <li class="nav-item">
          <a class="nav-link" href="about.html">About this Project</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Learn More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="data.html">Data</a>
            <a class="dropdown-item" href="index.html">GeoMapping</a>
            <a class="dropdown-item" href="troubleshooting.html">Troubleshooting</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="meetTeam.html">Meet the Team</a>
          </div>
        </li>
      </ul>

	  <!--
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
	  -->
    </div>
  </nav>

  <!-- head of page -->
    <div class="hero text-center">
      <h1 class="text-center">UFO Sightings Troubleshooting</h1>
    </div>
    <div class="container">
        <!-- troubleshooting text -->
        <div class="row">
            <div class="col-md-8">
              <p>As with most projects, there are a lot of unforseen issues that come along. Here is a brief glimpse into
                some of the issues and solutions utilized. 
              </p>
              <h3>Data Extraction/Cleaning</h3>
              <ul>
                <li>Data provided was large csv or json file with over 100k records dating back to 1969</li>
                <li>Direct import into mongo did not work properly due to long character strings in the "summary" section of data</li>
                <li>CSV could not be shared on Git because it was too large, so more practical to use provided API in jupyter notebook</li>
                <li>Initially connected jupyter to mongo to import clean data</li>
              </ul>

              <h3>Data Visualization/Mapping</h3>
              <ul>
                <li>Creating flask app connecting to mongo unsuccessful (we think due to the number of records)</li>
                <li>Extracting from mongo did not provide a usable json in javascript</li>
                <li>Ended up using "to_json" in jupyter and using that json for map</li>
                <li>Additional difficulties getting d3 to do what we wanted it to do in the map</li>
              </ul>

              <h3>Rendering Our Project</h3>
              <ul>
                  <li>When moving files from each computer into the repository, took time/effort to get arrangement/file paths correct</li>
                  <li>Initially tried to launch the homepage using Flask, but map would not render</li>
                  <li>Decided to stick to python server to ensure map functionality opposed to using flask</li>
              </ul>
            </div>
            <div class="col-md-4">
              <img padding: 20px src="../static/images/galaxy2.gif" alt="galaxy">
            </div>
        </div>
    </div>

<!--
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Jumbotron!</h1>
      <p class="lead">This is placed inside a container</p>
      <hr class="my-4">
      <p>Here we can display some more text!</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
  </div>
-->
</body>
</html>
